h1 {
    /* text-align: center;
    text-decoration:overline;
    text-transform: lowercase; */
}
p {
    /* font-size: 30px; */
}
pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-style: oblique;
}
body
{
    /* background-color: greenyellow; */
    /* background-image: url("/pexels-zukiman-21787.jpg"); */
    /* background-repeat: no-repeat; */
}
