table ,th,td{
    border: 2px solid black;
}
table{
    border-collapse: collapse;
    width: 100%;
}
tr{
    height: 40px;
    /* text-align: left; */
}
th {
    text-align: center;
    background-color: blue;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
    text-align: right;
}